---------------------------------------------------------------
Hostname:              {{ inventory_hostname_short }}
Distrobution:          {{ ansible_distribution }}
Distrobution Version:  {{ ansible_distribution_version }}

             This system is managed by Ansible.                
---------------------------------------------------------------
