# {{ ansible_managed }}

127.0.0.1 localhost localhost.localdomain
127.0.0.1 {{ inventory_hostname | lower }} {{ inventory_hostname_short | lower }}
{{ ansible_default_ipv4.address }} {{ inventory_hostname | lower }} {{ inventory_hostname_short | lower }}
