# {{ ansible_managed }}

127.0.0.1 localhost localhost.localdomain
127.0.0.1 {{ hosts_hostname }} {{ hosts_hostname_fqdn }}
{{ ansible_default_ipv4.address }} {{ hosts_hostname }} {{ hosts_hostname_fqdn }}
