# {{ ansible_managed }}

[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}

[core]
	editor = vim

[color]
	ui = auto

[color "branch"]
  current = red bold
  remote = yellow bold

[color "status"]
  branch = blue bold
  added = green bold
  changed = yellow bold
  untracked = red bold

[color "diff"]
  old = red bold
  new = green bold
