{% for repo in repo_list %}
[{{ repo.name }}]
name = {{ repo.name }}
baseurl = {{ repo.baseurl }}
enabled = {{ repo.enabled }}
gpgcheck = {{ repo.gpgcheck }}
gpgkey = {{ repo.gpgkey }}
skip_if_unavailable = {{ repo.skip_if_unavailable }}
sslverify = {{ repo.sslverify }}
{% endfor %}
