# {{ ansible_managed }}

[global]
timeout = {{ pip_conf_timeout }}
{% if pip_conf_log_file is defined %}
log-file = {{ pip_conf_log_file }}
{% endif %}
respect-virtualenv = {{ pip_conf_respect_virtualenv }}
{% if pip_conf_download_cache is defined %}
download-cache = {{ pip_conf_download_cache }}
{% endif %}
{% if pip_conf_verbose is defined %}
verbose = {{ pip_conf_verbose }}
{% endif %}
{% if pip_conf_trusted_host is defined %}
trusted-host = {{ pip_conf_trusted_host }}
{% endif %}
index-url = {{ pip_conf_index_url }}
{% if pip_conf_proxy is defined %}
proxy = {{ pip_conf_proxy }}
{% endif %}
{% if pip_conf_extra_index_url is defined %}
extra-index-url = {{ pip_conf_extra_index_url }}
{% endif %}
{% if pip_conf_find_link is defined %}
find-links = {{ pip_conf_find_links }}
{% endif %}

[install]
ignore-installed = {{ pip_conf_ignore_installed }}
no-cache-dir = {{ pip_conf_no_cache_dir }}
 
[list]
format = columns {{ pip_conf_list_format }}
