# {{ ansible_managed }}

# This file MUST be edited with the 'visudo' command as root.
# See the sudoers man page for the details on how to write a sudoers file.


{% for default in sudo_sudoers_defaults %}
Defaults  {{ default }}
{% endfor %}


Defaults  env_reset
{% for env_keep in sudo_sudoers_env_keep %}
Defaults  env_keep {% if not loop.first %}+{% endif %}= "{{ items | list | join(' ') }}"
{% endfor %}



{% if sudo_sudoers_host_aliases is defined %}
{% for host_alias in sudo_sudoers_host_aliases %}
Host_Alias  {{ host_alias.name }} = {{ host_alias.hosts | join(',') }}
{% endfor %}
{% endif %}




{% if sudo_sudoers_user_aliases is defined %}
{% for user_alias in sudo_sudoers_user_aliases %}
User_Alias  {{ user_alias.name }} = {{ user_alias.users | join(',') }}
{% endfor %}
{% endif %}




{% if sudo_sudoers_command_aliases is defined %}
{% for command_alias in sudo_sudoers_command_aliases %}
Cmnd_Alias  {{ command_alias.name }} = {{ command_alias.commands | join(',') }}
{% endfor %}
{% endif %}






{% for sudo_user in sudo_sudoers_user_specification %}
{{ sudo_user.user }}  {{ sudo_user.hosts }}=({{ sudo_user.operators }}) {% if nopasswd %}NOPASSWD: {% endif %}{{ sudo_user.commands }}
{% endfor %}


{% for sudo_group in sudo_sudoers_group_specification %}
{{ sudo_group.group }}  {{ sudo_group.hosts }}=({{ sudo_group.operators }}) {% if nopasswd %}NOPASSWD: {% endif %}{{ sudo_group.commands }}
{% endfor %}





#includedir {{ sudo_sudoersd_directory }}

