---
# tasks file for rke


- name: Create rke configuration directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  with_items: "{{ rke_configuration_directories }""

- name: Ensure rke dependencies are installed
  ansible.builtin.dnf:
    name: "{{ rke_dependencies }}"
    state: latest


- name: Template repo file
  ansible.builtin.template:
    src: rancher.repo.j2
    dest: /etc/yum.repos.d/rancher.repo
    owner: root
    group: root
    mode: 0644




- name: Include rke_master.yml
  ansible.builtin.include_tasks:
    file: rke_master.yml
  when: "rke_master in group_names"

- name: Include rke_server.yml
  ansible.builtin.include_tasks:
    file: rke_server.yml
  when: "rke_server in group_names"

- name: Include rke_agent.yml
  ansible.builtin.include_tasks:
    file: rke_agent.yml
  when: "rke_agent in group_names"





- name: Start and enable rke service
  ansible.builtin.systemd_service:
    name: "{{ rke_service }}"
    state: started
    enabled: true


